body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    display: flex;
    flex-grow: 1;
    background-color: rgb(245, 242, 242);
    flex-direction: column;
}

main > * {
    margin: 5px;
}

img {
    width: 100px;
    height: 100px;
}


.userContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.tarjetUser {
    display: flex;
    flex-direction: column; /* Cambiamos a un diseño de columna */
    align-items: center;
    margin-bottom: 20px;
    background-color: #007bff;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.tarjetUser img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 15px; /* Agregamos margen inferior para separar la imagen del contenido de texto */
}

.tarjetUser div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centramos el contenido de texto */
}

.tarjetUser div p {
    margin: 0; /* Elimina el margen predeterminado */
}

.tarjetUser div p:nth-child(1) {
    font-weight: bold;
}

.tarjetUser div p:nth-child(2) {
    font-style: italic;
}

.tarjetUser div p:nth-child(3) {
    color: #555;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem 12%;
    gap: 1rem;
    background-color: rgb(245, 242, 242);
    border: 2px solid red;
    max-width: 50%;
}

.product {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    display: flex;
    padding: 20px;
    position: relative;
}

.product .right {
    padding: 10px;
}

.product .left {
    margin: 10px 22px;
}

.product .left > * {
    margin: 10px 0;
}

.button-product {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    font-weight: 600;
    padding: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

.button-product:hover {
    background-color: #0044ff;
    cursor: pointer; 
}

.start-rate {
    position: absolute;
    bottom: 10px;
    right: 150px;
    width: 110px;
    height: 33px;
    padding: 12px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

}







