body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    display: flex;
    flex-grow: 1;
    background-color: rgb(245, 242, 242);
    flex-direction: column;
}

main > * {
    margin: 5px;
}

img {
    width: 100px;
    height: 100px;
}


.userContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.tarjetUser {
    display: flex;
    flex-direction: column; /* Cambiamos a un diseño de columna */
    align-items: center;
    margin-bottom: 20px;
    background-color: #007bff;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding: 20px;
    padding-bottom: 30px;
    position: relative;
}

.tarjetUser img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 15px; /* Agregamos margen inferior para separar la imagen del contenido de texto */
}

.tarjetUser div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centramos el contenido de texto */
}

.tarjetUser div p {
    margin: 0;
}

.tarjetUser div p:nth-child(1) {
    font-weight: bold;
}

.tarjetUser div p:nth-child(2) {
    font-style: italic;
}

.tarjetUser div p:nth-child(3) {
    color: #555;
}

.delete-user {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: red;
    padding: 2px 20px;
    border: 1px solid black;
    width: 100%;
}

.delate-user:hover {
    background-color: rgb(197, 7, 7);
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem 10%;
    margin-right: 8%;
    gap: 1rem;
    background-color: rgb(245, 242, 242);
    max-width: 50%;
}

.product {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    display: flex;
    padding: 20px;
    position: relative;
}

.product .right {
    padding: 10px;
}

.product .left {
    margin: 10px 22px;
}

.product .left > * {
    margin: 10px 0;
}

.button-product {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    font-weight: 600;
    padding: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

.button-product:hover {
    background-color: #0044ff;
    cursor: pointer; 
}

.start-rate {
    position: absolute;
    bottom: 10px;
    right: 150px;
    width: 110px;
    height: 33px;
    padding: 12px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

}

.main {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.container-category {
    margin: 1rem 0;
    margin-right: 10%;
}

.container-category > div {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding: 20px;
    font-size: 1.5rem;
    color: #222;
    border-radius: 8px;

}

.container-category > div > div {
    margin: 10px;
}

.container-category > div > div > input{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    color: #fff;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid #888;
    background-position: 0 -2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

.container-category > div > div > input:checked{
    background-color: #007bff;
    color: #007bff;
    background-position: 0 0;
}






