body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-user {
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.container-info {
    height: 400px;
    border: 2px solid black;
    margin: 0 10%;

}

.container-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 5px;
}

/* Oculta los botones de radio visualmente */
.radios input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Estilo para resaltar la imagen cuando está seleccionada */
.radios label {
    cursor: pointer;
    border: 2px solid transparent;
    position: relative;
    display: inline-block; /* Asegura que el label ocupe el espacio necesario */
}

.radios input:checked + label img {
    border: 20px solid blue;
}



.name {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
    font-weight: 600;
    color: white;
}

.email {
    padding: 20px;
    text-align: center;
    color: #007bff;
}

img {
    width: 300px;
    height: 300px;
}

.delete-user {
    color: white;
    background-color: red;
    padding: 2px 20px;
    width: 100%;
    cursor: pointer;
}

.delete-user:hover {
    background-color: rgb(197, 7, 7);
    cursor: pointer;
}